@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  background-color: rgba(55, 155, 122, 0.3);
  font-family: "Roboto", sans-serif;
}

.body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 96%;
  height: 40px;
  background-color: rgba(55, 155, 122, 0.8);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navbarButton {
  width: 75px;
  height: 30px;
  border: solid;
  background-color: transparent;
  border-width: 1px;
  border-radius: 10px;
  color: white;
}

.navbarButton:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transform: scale(1.02);
  cursor: pointer;
}

.navbarButton:active {
  transform: scale(1);
}

#loginButton {
  justify-content: flex-end;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 150%;
  margin-bottom: 20px;
}

.loginMessage {
  font-style: italic;
  margin-bottom: 10px;
}

.newPost {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.createPostButton {
  width: 75px;
  height: 30px;
  border: solid;
  background-color: rgba(55, 155, 122, 0.8);
  border-width: 1px;
  border-radius: 10px;
  color: white;
}

.createPostButton:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transform: scale(1.02);
  cursor: pointer;
}

.createPostButton:active {
  transform: scale(1);
}

.newPostInput {
  height: 100px;
  width: 100%;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 4px;
  margin-bottom: 10px;
  font: inherit;
}

.newPostButtonSection {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.newPostButton {
  width: 75px;
  height: 30px;
  border: solid;
  background-color: rgba(55, 155, 122, 0.8);
  border-width: 1px;
  border-radius: 10px;
  color: white;
}

.newPostButton:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transform: scale(1.02);
  cursor: pointer;
}

.newPostButton:active {
  transform: scale(1);
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 300px;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0.9);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 130%;
  margin-bottom: 20px;
}

.postID {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
  width: calc(100% - 8px);
  height: 60px;
  border-bottom: solid;
  border-width: 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(55, 155, 122, 0.8);
  color: white;
}

.message {
  display: flex;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
  width: calc(100% - 8px);
  height: 180px;
  white-space: pre-line;
  white-space: pre-wrap;
}

.likes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 5px;
}

.likeButton {
  width: 76px;
  height: 35px;
  border: solid;
  background-color: rgba(55, 155, 122, 0.8);
  border-width: 1px;
  border-radius: 10px;
  color: white;
  margin-right: 10px;
}

.deleteButton {
  width: 76px;
  height: 35px;
  border: solid;
  background-color: rgba(55, 155, 122, 0.8);
  border-width: 1px;
  border-radius: 10px;
  color: white;
  margin-bottom: 10px;
  margin-right: 5px;
}
